
.blog-metadata {
  align-items: center;
  color: $secondary;
  display: flex;
  justify-content: space-between;

  .results-metadata {
    margin-bottom: 0;
  }

  .blog-search-container {
    position: relative;

    #search-icon {
      position: absolute;
      left: 0.5rem;
      top: 0;
      height: 100%;
      display: flex;
      &::before {
        margin: auto;
      }
    }

    #search-input {
      padding-left: 2rem;
      border-radius: 0.2rem;

    }
  }

  input[type="search"] {
    -webkit-appearance: searchfield;
    -moz-appearance: searchfield;
    appearance: searchfield;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    -moz-appearance: searchfield-cancel-button;
    appearance: searchfield;
  }

}

