<article class="blog-post-exceprt text-center">
  <h3>Sample Title</h3>
  <div class="metadata"><p>Published on 13/09/2018 by <a href="/">AuthorName</a></p></div>
  <p><img src="https://via.placeholder.com/250x250" alt="" class="img-fluid"></p>
  <div class="exceprt">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam aut doloribus expedita itaque, optio tempora velit voluptatum! Accusamus alias culpa cupiditate distinctio exercitationem facilis magnam praesentium quaerat veniam vero.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam aut doloribus expedita itaque, optio tempora velit voluptatum! Accusamus alias culpa cupiditate distinctio exercitationem facilis magnam praesentium quaerat veniam vero.</p>
  </div>
</article>
