<article class="blog-listing">
  <div class="header">
    <div class="image-container">
      <img src="https://via.placeholder.com/250x250" height="300" alt="">
    </div>
    <div class="category-text-container"><a href="#" class="category-text">Travel</a></div>
  </div>
  <div class="content">
    <h3>Post title</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolor facere fugit ipsam maxime sequi soluta. Accusamus atque ea eaque harum, id impedit itaque magni odit optio quod? Non, officia.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, dolor facere fugit ipsam maxime sequi soluta. Accusamus atque ea eaque harum, id impedit itaque magni odit optio quod? Non, officia.</p>
    <a href="#" class="post-link">Read more &raquo;</a>
  </div>
  <div class="metadata-container">
    <div class="metadata">Published by <a href="#">User</a> at <a href="">11/08/2018</a></div>
  </div>
</article>