<div class="blog-metadata">
  <div class="metadata">
    <p class="results-metadata">Showing <span class="bold" id="results-start-num">1</span> to <span class="bold" id="results-end-num">12</span> <span id="results-total-num">of 1000</span> <span class="bold" id="results-type">posts</span></p>
  </div>
  <div class="blog-search-container">
    <i class="fas fa-search" id="search-icon"></i>
    <input type="search" name="q" class="form-control" id="search-input" placeholder="Search blog">
  </div>

</div>
