<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="categories">
  <div class="container">
    <!--<a class="navbar-brand" href="/">Categories</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCategories" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!--<span class="navbar-toggler-icon"></span>-->
      <span>All Categories</span>
      <span id="category-toggle-symbol">^</span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCategories">
      <ul class="navbar-nav ml-auto mr-auto">
        <li class="navbar-brand">Categories</li>
        <li class="nav-item active">
          <a class="nav-link" href="/">Food <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/new">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/404">Travel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/404">Sports</a>
        </li>
      </ul>
    </div>
  </div>
</nav>