
<section id="comments" class="mt-5">
  <div class="container-sm">
    <h2>Comments</h2>
    <div class="comment-list">
      <p>This post has no comments.</p>
      <div class="media comment mt-4">
        <img class="mr-3 align-self-center" src="https://via.placeholder.com/200x200" alt="Generic placeholder image" width="100" height="100">
        <div class="media-body">
          <p class="mt-0">Posted on <span>DATE</span> by <a href="/user">USER</a></p>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
            odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
            Donec lacinia congue felis in faucibus.</p>
          <div class="buttons">
            <button class="btn btn-warning mr-3">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
      <div class="media comment mt-4">
        <img class="mr-3 align-self-center" src="https://via.placeholder.com/200x200" alt="Generic placeholder image">
        <div class="media-body">
          <p class="mt-0">Media heading</p>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
            odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
            Donec lacinia congue felis in faucibus.</p>
          <div class="buttons">
            <button class="btn btn-warning">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
      <div class="media comment mt-4">
        <img class="mr-3 align-self-center" src="https://via.placeholder.com/200x200" alt="Generic placeholder image">
        <div class="media-body">
          <p class="mt-0">Media heading</p>
          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
            odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
            Donec lacinia congue felis in faucibus.</p>
          <div class="buttons">
            <button class="btn btn-warning">Edit</button>
            <button class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
