
<div class="media comment mt-4">
  <img class="mr-3 align-self-center" src="https://placeimg.com/100/100/people" alt="Generic placeholder image" width="100" height="100">
  <div class="media-body">
    <p class="mt-0">Posted on <span>DATE</span> by <a href="/user">USER</a></p>
    <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
      odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
      Donec lacinia congue felis in faucibus.</p>
    <div class="buttons">
      <button class="btn btn-warning mr-3">Edit</button>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
