<div class="user-post jumbotron">
  <h3>Post title</h3>
  <p><span class="bold">Published on:</span> 31/08/2018</p>
  <p><span class="bold">Privacy:</span> Public</p>
  <p><span class="bold">Allows comments:</span> Yes / No</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi delectus deleniti doloribus eaque ex facere ipsum iste laborum nesciunt perferendis possimus, praesentium provident, quaerat qui saepe sunt, veniam voluptatum.</p>
  <div class="buttons">
    <a class="btn btn-primary" href="story-link">View Post</a>
    <button class="btn btn-warning">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
