
.blog-listings {
  .blog-listing {
    margin-bottom: 2rem;
    &:last-of-type {
      margin-bottom: 0;
    }

  }
  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    .blog-listing {
      margin-bottom: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}