.blog-listing {
  box-shadow: 0 0 $size-md 0 rgba(0,0,0,.15);
  border-radius: $size-md;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .header {
    position: relative;
    .image-container {
      width: 0;
      height: 0;
      padding-right: 100%;
      padding-bottom: calc(0.5 * 100%);
      position: relative;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
    .category-text-container {
      position: absolute;
      left: 0;
      top: 0;
      margin: $size-md;
      .btn {
        border-radius: $size-md;
      }
    }
  }

  .content {
    padding: $size-md;

    .post-title {
      color: black;
      text-decoration: none;
    }

    .post-link {
      color: $primary;
    }
  }

  .metadata-container {
    border-top: 1px solid rgba(0,0,0,.15);
    padding: $size-md;
    margin-top: auto;
  }
}
