
.comment-list {
  .comment {
    border: 1px solid $secondary;
    border-radius: 0.5rem;
    padding: $size-md;
    background-color: $light;
    &:first-child {
      margin-top: 0;
    }
    img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
  }
}
